.switch {
    align-self: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}
  
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
  
.label {
    position: relative;
    background-color: #835AFD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    height: 26px;
    width: 50px;
}
  
  .ball {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: transform .2s linear;
}