#page-room {
    height: 100vh;

    &.light {
        --background: #F8F8F8;
        --header-border: #e2e2e2;
        --text-color: #29292e;
    }

    &.dark {
        --background: #121212;
        --header-border: #171717;
        --text-color: #FFFFFF;
    }

    background: var(--background);

    header {
        padding: 24px;
        border-bottom: 1px solid var(--header-border);

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            max-width: 1120px;
            margin: 0 auto;

            > img {
                max-height: 45px;
            }

            > div {
                display: flex;
                gap: 16px;

                button {
                    height: 40px;
                }
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            display: flex;
            align-items: center;

            margin: 32px 0 24px;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: var(--text-color);
            }

            span {
                margin-left: 16px;
                background: #e559f9;
                border-radius: 9999px;
                padding: 8px 16px;
                color: var(--text-color);
                font-weight: 500;
                font-size: 14px;
            }

            button {
                border: 0;
                background: transparent;
                font-size: 0;

                svg {
                    margin-left: 16px;
                    fill: var(--text-color);
                    cursor: pointer;
                }
            }
        }

        form {
            .buttons {
                display: flex;
                align-items: center;

                gap: 10px;

                margin-bottom: 5px;

                button {
                    width: 30px;
                    height: 30px;
    
                    border: 1px solid var(--header-border);
                }
            }

            textarea {
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                resize: vertical;
                min-height: 130px;
            }

            .form-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin-top: 16px;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;

                        border-radius: 50%;
                    }

                    span {
                        margin-left: 8px;
                        color: var(--text-color);
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                > span {
                    font-size: 14px;
                    color: #737380;
                    font-weight: 500;

                    button {
                        background: transparent;
                        border: 0;
                        color: #835AFD;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }

        .question-list {
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 830px) {
    #page-room {
        main {
            display: flex;
            flex-direction: column;

            .room-title {
                align-self: center;
            }

            form {
                display: flex;
                flex-direction: column;

                textarea {
                    width: 90%;
                    align-self: center;
                }

                .form-footer {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 455px) {
    #page-room {
        header {
            .content {
                justify-content: space-around;

                .logo {
                    flex-direction: column;
                    column-gap: 1px;

                    img {
                        max-height: 45px;
                    }
                }

                > div {
                    flex-direction: column;
                    
                    height: 90px;
                }
            }
        }

        main {
            .room-title {
                h1 {
                    font-size: 18px;
                }

                span {
                    padding: 6px 14px;
                }
            }

            form {
                .buttons {
                    margin: 0 0 5px 20px;
                }

                .form-footer {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }

            .question-list {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}